<div class="d-flex justify-content-between w-100">
  <div>
    <%= image_tag "chef.png", alt: "Chef Logo", height: "40", class: "d-inline-block align-top" %>
  </div>
<div>
  <%= link_to categories_path, class: "btn btn-outline-dark d-flex align-items-center gap-2" do %>
    <i class="fas fa-home"></i>
    <span>Home</span>
  <% end %>
</div>
</div>
